/**
 * @description - plugin original css
 * @author - bornkiller <hjj491229492@hotmail.com>
 */

.auth-box {
  padding: 0;
}

:global .page-core {
  display: flex;

  &__header {
    flex: 0 1;
  }
}
