/**
 * @description - plugin original css
 * @author - bornkiller <hjj491229492@hotmail.com>
 */

.auth-root-body {
  padding: 0;
}

.auth-container {
  position: absolute;
  top: 0;
  left: 0;
}

:global .page-core {
  display: flex;
}
